.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__title {
    padding: 30px 0;
    line-height: 19px;
}

.header__title__logo {
    width: 62px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    gap: 68px;
}

.header__menu__element {
    padding-top: 18px;
}

.header__menu__element:hover {
    color: #0065FC;
    border-top: 2px solid var(--main-color);
    padding-top: 1rem;
}