.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.hebergements-card {
    height: 100%;
}

.hebergements-cards__flex {
    display: flex;
    gap: 30px;
}

.hebergements-card__link {
    flex: 1 1 0
}

.hebergements__card-image {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements__card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 4px;
}

.hebergements__text {
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
}