@media (max-width: 767.98px) {
    body {
        overflow-x: hidden;
    }

    /*Header*/
    .main-container {
        padding: 0;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .header__menu {
        gap: 0;
        margin-bottom: 35px;
    }

    .header__menu__element {
        width: 50%;
        padding-top: 0;
        padding-bottom: 17px;
    }

    .header__menu__element:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        padding-top: 0;
        padding-bottom: 15px;
    }

    /*Info Section*/
    .info-section {
        padding: 0 20px;
    }

    /*Form*/
    .info-section__form {
        max-width: 330px;
        width: 100%;
    }

    .info-section__form__input {
        width: 100%;
    }

    .info-section__form__input-btn-text {
        display: none;
    }

    .info-section__form__btn {
        width: 49px;
        height: 49px;
        border-radius: 15px;
        margin-left: -10px;
    }

    .form__btn-icon,
    .info-section__form__input-icon {
        display: block;
    }

    .info-section__form__input-icon {
        color: #fff;
    }

    /*Filter*/
    .info-section__filter-box__menu {
        flex-wrap: wrap;
        gap: 10px;
        font-size: 14px;
    }

    .info-section__filter-box__menu__element {
        margin-bottom: 5px;
    }

    /* Hebergements And Populaires  */
    .hebergements-and-populaires {
        gap: 35px;
    }

    .hebergements-section, .populaires-section {
        padding: 0 20px;
    }

    /* Populaires */
    .populaires-section {
        margin: 0;
        padding-bottom: 30px;
    }

    .populaires-section__title {
        margin: 15px 0;
    }

    .populaires-section__cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-section__cards a {
        width: 100%;
    }

    .populaires-section__cards__card {
        margin: 0;
    }

    .populaires-section__cards__card__image {
        width: 48%;
    }

    .populaires-section__cards__card__content {
        min-width: 52%;
        flex-direction: column;
    }

    /* Hebergements */
    .hebergements-section {
        order: 2;
        background-color: #fff;
    }

    .hebergements-section__cards--flex {
        flex-direction: column;
    }

    /* Activities */
    .activites-section__cards {
        flex-direction: column;
    }

    .activites-section__cards__card {
        max-width: 700px;
        width: 100%;
    }

    .activites-section__cards__card__image {
        height: 141px;
    }

    .activites-section__cards__card__title {
        height: 59px;
    }

    /* Footer */
    .footer {
        flex-direction: column;
    }

    .footer__box {
        width: 100%;
    }
}