/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section-title {
    font-size: 22px;
}

/****** Cards ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-content {
    padding-left: 15px;
}

.card-rating {
    margin-bottom: 5px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.title-subtitle {
    font-size: 18px;
}

/****** Margin ***********/
.mb-15 {
    margin-bottom: 15px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-section, .populaires-section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}