@media (max-width: 1024px) {
    .info-section__filter-box {
        flex-direction: column;
        align-items: start;
    }

    .info-section__filter-box__menu__element {
        flex-shrink: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-section {
        width: 100%;
    }

    .populaires-section {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-section__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-section__cards a {
        width: 32%;
    }

    /* Activities */
    .activites-section__cards__card {
        max-width: 193px;
    }

    .activites-section__cards__card__image {
        height: 200px;
    }

    .activites-section__cards__card__title {
        height: 70px;
    }
}